---

import Header from "../components/Header.astro";
import HighExp from "../layouts/HighExp.astro";
import Portfolio from "../layouts/Portfolio.astro";
import Education from "../layouts/Educations.astro";
import Skills from "../layouts/Skills.astro";
import Exp from "../layouts/Exp.astro";
import Testimonial from "../layouts/Testimonial.astro";

---


<body class="bg-gray-100">
	<Header/>
	<HighExp/>
    <Portfolio/>
	<Education/>
	<Exp/>
	<br><br> <br>
	<Skills/>
</body>