
<div class="shadow-lg rounded-lg overflow-hidden mx-4 md:mx-10">
    <table class="w-full table-fixed">
        <thead>
            <tr class="bg-gray-100">
                <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Empresa</th>
                <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Año</th> 
                
            </tr>
        </thead>
        <tbody class="bg-white">
            <tr>
                <td class="py-4 px-6 border-b border-gray-200">Barpa USA</td>
            
                <td class="py-4 px-6 border-b border-gray-200">2023</td>
            </tr>
            <tr>
                <td class="py-4 px-6 border-b border-gray-200">Nemesis Expert</td>
        
                <td class="py-4 px-6 border-b border-gray-200">2023</td>
            </tr>
            <tr>
                <td class="py-4 px-6 border-b border-gray-200">MFBSISTEM</td>
        
                <td class="py-4 px-6 border-b border-gray-200">2022-2023</td>
            </tr>
            <tr>
                <td class="py-4 px-6 border-b border-gray-200">Asacor</td>
        
                <td class="py-4 px-6 border-b border-gray-200">2022</td>
            </tr>
            
        </tbody>
    </table>
</div>




<style>
      body.dark {
        background-color: #333; 
        color: #fff; 
    }

    body.dark *{
        color: #000;
    }

</style>