<section class="py-10 md:py-16">

    <div class="container max-w-screen-xl mx-auto px-4">

        <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">Experiencia</h1>

        <p class="font-normal text-gray-500 text-xs md:text-base mb-20"></p>

        <div class="flex flex-col lg:flex-row justify-between">
            <div class="space-y-8 md:space-y-16 mb-16 md:mb-0">
                <h6 class="font-medium text-gray-400 text-lg uppercase">Empresa</h6>
            
                <p class="font-semibold text-gray-500 text-lg">Barpa USA <span class="font-semibold  text-gray-400">/ Florida</span></p>
            
                <p class="font-semibold text-gray-550 text-lg">Nemesis Xpert <span class="font-semibold  text-gray-400">/ Valledupar - Colombia</span></p>
            
                <p class="font-semibold text-gray-550 text-lg">MFBSISTEM <span class="font-semibold  text-gray-400">/ Loja - Ecuador</span></p>
            
                <p class="font-semibold text-gray-550 text-lg">Asacor <span class="font-semibold  text-gray-400">/ Chimichagua - Colombia</span></p>
            </div>
            

            <div class="space-y-8 md:space-y-16 mb-16 md:mb-0">
                <h6 class="font-medium text-gray-400 text-base uppercase">Posicion</h6>

                <p class="font-normal text-gray-400 text-base">Desarrollador Full-Stack</p>

                <p class="font-normal text-gray-400 text-base">Desarrollador Full-Stack</p>

                <p class="font-normal text-gray-400 text-base">Desarrollador Backend</p>

                <p class="font-normal text-gray-400 text-base">Junior Full-Stack</p>

            </div>

            <div class="space-y-8 md:space-y-16">
                <h6 class="font-medium text-gray-400 text-base uppercase">Año</h6>

                <p class="font-normal text-gray-400 text-base">2023</p>

                <p class="font-normal text-gray-400 text-base">2023</p>

                <p class="font-normal text-gray-400 text-base">2022 - 2023</p>

                <p class="font-normal text-gray-400 text-base">2022</p>

            </div>
        </div>
        
    </div>

</section>


<style>
      body.dark {
        background-color: #333; 
        color: #fff; 
    }

    body.dark *{
        color:#fff
    }

</style>