<section class="py-10 md:py-16">

    <div class="container max-w-screen-xl mx-auto px-4">

        <div class="flex flex-col lg:flex-row justify-between">
            <div class="mb-10 lg:mb-0">
                <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">Portafolio</h1>

                <p class="font-normal text-gray-500 text-xs md:text-base">Comparto algunas de mis participaciones en proyectos <br> como profesional.</p>
            </div>

            <div class="space-y-24">
                <div class="flex space-x-6">
                    <h1 class="font-normal text-gray-700 text-3xl md:text-4xl">01</h1>

                    <span class="w-28 h-0.5 bg-gray-300 mt-5"></span>

                    <div>
                        <a href="https://demo.mfbfiresystem.com/" target="_blank" class="text-blue-500 hover:underline">
                            <h1 class="font-normal text-gray-700 text-3xl md:text-4xl mb-5">MFBFIRESYSTEM</h1>
                        </a>
                            <p class="font-normal text-gray-500 text-sm md:text-base">
                                Sistema para la gestión de permisos de funcionamiento para Cuerpo de Bomberos. <br>Loja - Ecuador
                            </p>
                    </div>
                    
                </div>
                
                <div class="flex space-x-6">
                    <h1 class="font-normal text-gray-700 text-3xl md:text-4xl">02</h1>

                    <span class="w-28 h-0.5 bg-gray-300 mt-5"></span>

                    <div>
                       
                        <a href="https://nemesis-xpert.vercel.app/main" target="_blank" class="text-blue-500 hover:underline">
                            <h1 class="font-normal text-gray-700 text-3xl md:text-4xl mb-5">Nemesis Xpert</h1>
                        </a>
                        <p class="font-normal text-gray-500 text-sm md:text-base">Centro de especializacion en formacion profesional
                             <br> del E-SPORT. <br> Valledupar - Colombia </p>
                    </div>
                </div>
                
                <div class="flex space-x-6">
                    <h1 class="font-normal text-gray-700 text-3xl md:text-4xl">03</h1>

                    <span class="w-28 h-0.5 bg-gray-300 mt-5"></span>

                    <div>
                        <h1 class="font-normal text-gray-700 text-3xl md:text-4xl mb-5">API de Sincronizacion de Datos para el Edemineduc</h1>

                        <p class="font-normal text-gray-500 text-sm md:text-base">Desarrollado para un cliente en especifico, microservicio para hacer informe 
                            <br> del libro de clases digital. <br> Chile <br>  <a href="https://www.ede.mineduc.cl/desarrolladores/libro-de-clases-digital" target="_blank" class="text-blue-500 hover:underline">ver aqui</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>


<style>
    body.dark {
      background-color: #333; 
      color: #fff; 
  }

  body.dark *{
      color:#fff
  }

</style>